@font-face {
    font-family: 'SourceHanSansCN-b';
    src: '../fonts/SourceHanSansCN-Heavy.woff2' format('woff2'), '../fonts/SourceHanSansCN-Heavy.woff' format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0px;
    font-size: 1.25vw;
    font-family: 'SourceHanSansCN-b', "Microsoft YaHei", sans-serif;
    width: 100%;
    background: url('/background.jpg') no-repeat;
    background-size: 100%;
}

